body{
  margin: 0;
}
h1 {
  display: flex;
  padding: 10px;
  color: beige;
  font-weight: 700;
}
.box {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.button-container {
  text-align: center;
}
.my-button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin: 5px;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(135deg, #fffaf7, #e6a6bd);
  transition: transform 0.5s ease-in-out; /* Added transition property */
}

.my-button:hover {
  transform: scale(1.1); /* Increase the size on hover */
  background-image: linear-gradient(135deg, #53e52e, #e6bd6f);
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

button::before {
 color: white;
}

@keyframes movingBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

body {
  background: linear-gradient(90deg, #b69168, #822949);
  background-size: 200% 200%;
  animation: movingBackground 10s infinite alternate;
}
@media screen and (max-width: 600px) {
  @keyframes movingBackground {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
